@font-face {
  font-family: 'HachiMaruPop';
  src: url('../assets/fonts/HachiMaruPop-Regular.ttf') format('truetype');
}

.CrudTableContainer1{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: HachiMaruPop;
}

.CrudTableContainer2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-family: HachiMaruPop;
}

.crudTableButton{
    width: 80px;
    padding: 10px;
    background-color: #4BF218;
    color: "white";
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    font-family: HachiMaruPop;
}
.CrudTableTableContainer{
    display: flex;
    align-items: flex-end;
    align-content: center;
}

.CrudTable{
    width: 80%;
    table-layout: fixed;
}

.TableHeader{
    background-color: #4D5280;
    color: white;
    font-weight:800;
}


.TableRow tr:nth-child(odd) {
  background-color: #f2f2f2; /* Light background for odd rows */
}

tr:nth-child(even) {
  background-color: #cccccc6c; /* Dark background for even rows */
}

.AcctionsRow{
    display: flex;
    justify-content: space-around;
}

.custom_text_input{
    width: 90%;
    border: 2px solid #365D81;
    border-radius: 5px;
    font-family: HachiMaruPop;
}

.custom_number_input{
    width: 50%;
    border: 2px solid #365D81;
    border-radius: 5px;
    font-family: HachiMaruPop;
    align-self: center;
}

.editButton{
    width: 60px;
    background-color: #4BF218;
    color: "white";
    border-color: black;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    font-family: HachiMaruPop;   
}

.deleteButton{
    width: 70px;
    background-color: #F43A15;
    color: "white";
    border-color: black;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    font-family: HachiMaruPop;   
}