@font-face {
  font-family: 'HachiMaruPop';
  src: url('../assets/fonts/hachimarupop-regular.ttf') format('truetype');
}

.header {
  padding: 1rem;
  background-color: #3C344F;
  color: white;
  font-family: HachiMaruPop;
}

.burger-menu {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.header-logo {
  height: 40px;
}

.header-title {

  margin: 0;
  font-size: 1.5rem;

}

.header-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.header_left{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_right{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.language-selector {
  background-color:  #3C344F;
  color: #FFFFFF;
  border: none;
  padding: 0.25rem;
}

.menu {
  background-color: #333;
  color: white;
  padding: 1rem;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0.5rem 0;
}

.menu a {
  color: white;
  text-decoration: none;
}