.toggle-button {
  width: 80px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.toggle-button.off {
  background-color: #F55F3D; /* Red when OFF */
  padding: 4px;
}

.toggle-button.on {
  background-color: #4BF218; /* Green when ON */
  padding: 4px;
}
