@font-face {
  font-family: 'indieflower';
  src: url('../assets/fonts/indieflower.ttf') format('truetype');
}

.welcomecontainer {
      width: 100%;  
      height: 320px; 
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: white;
      font-family: indieflower, sans-serif;
}

.wpict{

    border: #D4E1ED;
    border-radius: 15px;
}